@{
    ViewData["Title"] = "MisionVision";
}


<link rel="stylesheet" href="~/css/MisionVision.css" asp-append-version="true" />


<body>
    <div class="mission-vision-container">
        <!-- Sección Visión -->
        <div class="mission-card vision-card">
            <div class="mission-icon">
                <img src="~/images/Arco.png" alt="Icono de visión" class="mission-png-icon" />
            </div>
            <h2>Nuestra Visión</h2>
            <p class="p">Ser la plataforma líder en la promoción del turismo, ofreciendo una experiencia digital innovadora y accesible que inspire a los viajeros a descubrir y explorar destinos únicos, fomentando el desarrollo turístico y cultural de cada región.</p>
        </div>

        <!-- Sección Misión -->
        <div class="mission-card mission-card">
            <div class="mission-icon">
                <img src="~/images/cohete.png" alt="Icono de misión" class="mission-png-icon" />
            </div>
            <h2>Nuestra Misión</h2>
            <p class="p">Facilitar el acceso a información detallada y actualizada sobre destinos turísticos, proporcionando a los usuarios una herramienta intuitiva que les permita planificar sus viajes, conocer atractivos turísticos, obtener recomendaciones y compartir sus experiencias, impulsando así el turismo sostenible y la economía local.</p>
        </div>
    </div>
</body>